@import "../fonts/Fonts.css";

.text {
    -fx-font-family: "HarmonyOS Sans SC";
}

.mfx-text-field {
    -fx-font-family: "HarmonyOS Sans SC";
}

.mfx-combo-box-cell .data-label {
    -fx-font-family: "HarmonyOS Sans SC";
}
